<ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" aria-current="page" routerLink="/admin/dashboard"><i class="bi bi-house-door me-2"></i>Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin/user"><i class="bi bi-person-square me-2"></i>Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" routerLink="/admin/product"><i class="bi bi-basket2 me-2"></i>Products</a>
    </li>
  </ul>