<body class="main-bg">
<!-- Login Form -->
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card shadow bg-secondary-subtle">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3">Login</h2>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-4">
              <label for="username" class="form-label">Email</label>
              <input type="text" class="form-control" id="username" />
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">Mot de passe</label>
              <input type="password" class="form-control" id="password" />
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-outline-dark main-bg">Login</button>
            </div>
          </form>
          <div class="text-center mt-4">
            <p>Pas encore membre ? <a routerLink="/register">Connexion</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
