<div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2  min-vh-100">
          <form class="search abs d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #filter>
            <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
          </form>
          <h4 class="filter mt-4">Filtrer</h4>
          <form [formGroup]="filterForm" class="filter-form">
            <div class="mb-3">
            <ngx-slider [options]="options" formControlName="sliderControl"></ngx-slider>
            </div>
            <select class="form-select mb-3" formControlName="selectControl" aria-label="select-order">
              <option [selected]="true">Prix croissant</option>
              <option value="1">Prix décroissant</option>
              <option value="2">Alphabétique</option>
              <option value="3">Alphabétique Z->A</option>
            </select>
            <div class="jam-checkbox mb-3">
            <div class="form-check">
              <input class="form-check-input" formControlName="checkboxIntense" type="checkbox" value="" id="intense">
              <label class="form-check-label" for="intense">
                Intense
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" formControlName="checkboxConfiture" type="checkbox" value="" id="confiture">
              <label class="form-check-label" for="confiture">
                Confiture
              </label>
            </div>
              <div class="form-check">
              <input class="form-check-input" formControlName="checkboxGelee" type="checkbox" value="" id="gelée">
              <label class="form-check-label" for="gelée">
                Gelée
              </label>
              </div>
                <div class="form-check">
              <input class="form-check-input" formControlName="checkboxFruitRouge" type="checkbox" value="" id="fruit-rouge">
              <label class="form-check-label" for="fruit-rouge">
                Fruit rouges
              </label>
                </div>
            </div>
            <button class="btn btn-outline-primary" type="submit">Filtrer</button>
          </form>
        </div>
      </div>
      <div class="col py-3 d-flex flex-column">
        <div class="row">
          <div *ngFor="let jam of jams" class="card col-md-auto mx-3 my-3 shadow" style="width: 18rem;">
            <img src="./assets/images/{{jam.image}}" class="card-img-top rounded mx-auto d-block mt-1" alt="{{jam.name}}">
            <div class="card-body">
              <h5 class="card-title">{{jam.name}}</h5>
              <p class="card-text">{{(jam.price/100)| currency: 'EUR': 'symbol'}}</p>
              <p class="card-text">{{jam.description}}</p>
              <input type="number" [defaultValue]="1" class="mb-3" #quantity/>
              <button class="btn btn-dark" (click)="addToCart(jam, quantity.value)">Ajouter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  